Taller1/
*:Zone.Identifier
.vscode/
__pycache__/
Taller1/logoEpn.jpg:Zone.Identifier
Taller1/logoEpn.jpg

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Archivos temporales
*.aux
*.log
*.out
*.toc
*.tex

# Archivos de configuración de entorno
.env
.venv

# Archivos de salida (no se suben al repo) ---
*.pdf
*.png
*.jpeg

# --- Archivos del sistema ---
.DS_Store
Thumbs.db