CursoPythonCisco/
.vscode/
__pycache__/
*.pyc
.env
*:Zone.Identifier
*.log
*.aux
*.out
*.toc
*.tex
Taller1/
*:Zone.Identifier
.venv/
.virtual_documents/
.ipynb_checkpoints/
.DS_Store
Thumbs.db
*.pdf 
*.png 
*.jpeg